site_name: OGC API workshop
site_description: "OGC APIs are designed to make it easy for ANYONE to provide and use geospatial data on the web, and to integrate this data with ANY other type of information.  This workshop describes OGC APIs in support of discovery, access, visualization and processing in support of FAIR data principles."
site_author: Open Geospatial Consortium
copyright: "&copy; 2023 Open Geospatial Consortium"
site_url: https://ogcapi-workshop.ogc.org
repo_url: https://github.com/opengeospatial/ogcapi-workshop
nav:
    - Home: index.md
    - Background and context: background-and-context.md
    - Overview and main concepts: overview-and-main-concepts.md
    - API deep dive:
        - OGC API - Common: ogcapi/common.md
        - OGC API - Features:
            - Prerequisites: ogcapi/ogcapi-features/text/basic-index.md
            - Overview, OGC API - Features: ogcapi/ogcapi-features/text/basic-overview.md
            - An Introduction to OGC API - Features: ogcapi/ogcapi-features/text/basic-main.md
            - Resources of OGC API - Features: ogcapi/ogcapi-features/text/operations.md
        - OGC API - Tiles: 
            - Prerequisites: ogcapi/ogcapi-tiles/text/basic-index.md
            - Overview, OGC API - Tiles: ogcapi/ogcapi-tiles/text/basic-overview.md
            - An Introduction to OGC API - Tiles: ogcapi/ogcapi-tiles/text/basic-main.md
            - Resources of OGC API - Tiles: ogcapi/ogcapi-tiles/text/operations.md
        - OGC - Sensor Things API:
            - Prerequisites: ogcapi/sta/text/index.md
            - Overview, SensorThings API: ogcapi/sta/text/overview.md
            - An Introduction to SensorThings API: ogcapi/sta/text/main.md
            - Resources of SensorThings API: ogcapi/sta/text/operations.md
#        - OGC API - Coverages: ogcapi/coverages.md
        - OGC API - Processes:
            - Prerequisites: ogcapi/ogcapi-processes/text/basic-index.md
            - Overview, OGC API - Processes: ogcapi/ogcapi-processes/text/basic-overview.md
            - An Introduction to OGC API - Processes: ogcapi/ogcapi-processes/text/basic-main.md
        - OGC API - Records: ogcapi/records.md
        - OGC API - Environmental Data Retrieval:
            - Prerequisites: ogcapi/ogcapi-edr/text/basic-index.md
            - An Introduction to OGC API - Environmental Data Retrieval: ogcapi/ogcapi-edr/text/basic-main.md
            - Information Resources of OGC API - Environmental Data Retrieval: ogcapi/ogcapi-edr/text/operations.md
            - Query Resources of OGC API - Environmental Data Retrieval: ogcapi/ogcapi-edr/text/advanced.md
            - Position Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/positionquery.md
            - Area Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/areaquery.md
            - Cube Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/cubequery.md
            - Trajectory Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/trajectoryquery.md
            - Corridor Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/corridorquery.md
            - Radius Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/radiusquery.md
            - Instances Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/instancesquery.md
            - Locations Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/locationsquery.md
            - Items (Features) Query Resources of OGC API - EDR: ogcapi/ogcapi-edr/text/itemsquery.md
        - OGC API - Maps: ogcapi/maps.md
    - OGC API roadmap: ogcapi-roadmap.md
    - Encodings: encodings.md
    - Compliance and certification: compliance-and-certification.md
    - Transition and migration:
        - Benefits and examples: benefits-and-examples.md
    - Conclusion: conclusion.md

use_directory_urls: true

theme:
    name: material
    palette:
        # See https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#color-scheme
        # Default is indigo (blue)
        primary: black
        scheme: ogcapi-workshop
    features:
        - navigation.indexes 
    favicon: assets/favicon.ico
    logo: assets/images/ogc.png

plugins:
    - search

markdown_extensions:
    - meta # option to add some meta tags on top, title, author, date, etc
    - admonition # adds the note, question, tip boxes, eg: !!! tip "my tip"
    - pymdownx.details # advanced collapsible panels
    - pymdownx.superfences # advanced features; such as line number, flow chart, python shell
    - footnotes # notes bottom of page
    - attr_list # used to size images
    - md_in_html # used to size images

extra_css:
    # ogcapi-workshop primary color with light and dark variations from material.io
    # https://material.io/resources/color/#!/?view.left=0&view.right=1
    - assets/stylesheets/ogcapi-workshop.css
    - assets/stylesheets/termynal.css
    - assets/stylesheets/custom.css

extra_javascript:
    - assets/javascripts/termynal.js
    - assets/javascripts/custom.js
